<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bingodict">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/greendragon"
        android:label="Bingo English"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BingoDict">
        <activity
            android:name=".AddWords"
            android:exported="false" />
        <activity
            android:name=".Translation"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MovieActivity"
            android:exported="false" />
        <activity
            android:name=".MusicActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="true" />
        <activity
            android:name=".AboutActivity"
            android:exported="true" />
        <activity
            android:name=".WordDescActivity"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name="readinggrid.ReadingDescActivity"
            android:exported="true" />
        <activity
            android:name="readinggrid.reading_grid_Activity"
            android:exported="true" />
        <activity
            android:name=".ChatActivity"
            android:exported="true"
            android:label="客服" />
        <activity
            android:name=".ReadActivity"
            android:exported="true"
            android:label="美文阅读" />
        <activity
            android:name=".SearchActivity"
            android:exported="true"
            android:label="单词查询" />
        <activity
            android:name=".Main_menu"
            android:exported="true"
            android:label="Bingo English" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>